<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-text">Text</label>
      <input id="post-text" name="post-text" />
    </div>
    <button id="add-post-btn" type="submit" class="btn">Create</button>
  </form>
</section>

{{!-- // Link the script that will create the post by making the post request --}}
<script src="/javascript/add-post.js"></script>