{{!-- <section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url">Link</label>
      <input id="post-url" name="post-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section> --}}

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ul id="your-post-list">
    {{#each posts as |post|}}
    <li class="post-listing">
        
      {{!-- {{> post-info post}} --}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">
        <h1 class="title">{{post.title}}</h1>
        <span>{{post.created_at}}</span>
      </a>
    </li>
    {{/each}}
  </ul>
  {{!-- This will take us to a new partial to add a post --}}
</section>
{{/if}}

<a href="/dashboard/add-post">Create a New Post</a>

